<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', filename='404.css') }}">
    <title>Document</title>
</head>
<body>
    <h1> 404 </h1>

        <h3> Lost in Space </h3>
    

    <p>Oooops, looks like the page you are trying to reach is no longer availaible. 
        <br>
        Please check the URL for proper spelling and capitalisation.
        <br>
        If you're having trouble locating a destination on PayJunction, try visiting the PayJunction home page.
    </p>

    <div class="btn-ctr">

        <a href="/"><button class="home " type="submit">     Home    </button></a>

    </div>
</body>
</html>